body {
  background: #0f172a;
  color: white;
  font-family: Arial;
  padding: 40px;
}

.card {
  background: #1e293b;
  padding: 20px;
  margin: 10px 0;
  border-radius: 8px;
}

button {
  background: #22c55e;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}